:root{
    --primary:#5E3BEE;
}
a .home-purple{
  color: #5E3BEE;
}
.container{
    background-color: #F5FCFF;
}
h1 span{
    color: var(--primary);
}
.btn-border-purple {
    border: var(--primary) ;
    color: #5E3BEE;
}
.btn-whole-primary{
    background-color: var(--primary);
}