:root {
  --primary: #5e3bee;
  --secondary:#f5fcff;
}
/* navbar start */

div .navbar-nav .nav-item .home-purple {
  color: var(--primary);
}

button .btn-border-purple {
  border-color: var(--primary);
  color: var(--primary);
}
/* navbar end  */


/* hero section start */
.container-hero {
  background-color: var(--secondary);
  width: 100%;
}
h1 span {
  color: var(--primary);
}
.col-lg-6 .d-grid .btn-whole-primary {
  background-color: var(--primary);
}
/* hero section end  */


/* gallery section start  */
.col .cards {
  background-color: var(--secondary);
  border: none;
}
/* gallery section end  */


/* cart section start  */
.container-card .card-space {
  padding: 65px;
}

/* cart section end  */

/* feedback section start  */
.container-feedback{
  background-color: #F5FCFF;
}

.card-feedback .card-body-feedback{
  border: 1px solid #006B6A ;
}
/* feedback section end  */


/* form section start */
div .form-button button{
    background-color: #5E3BEE !important;
}
div .col .form-border{
    border: 1px solid #5E3BEE ;
}
/* form section end */


/* footer start */
.container .container-footer-bg{
    background-color:#F5FCFF ;
}
.footer-2 .nav-item .nav-link{
    text-decoration: underline !important;
}
/* footer end */